{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="Register">
<head>
	<title>Welcome to Profile pic upload app</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/toastr.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
</head>
<body>
<div class="reg_bg">
<div id="reg_bg">
</div>
</div>
	<div class="top-margin-adjust"></div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/angular.min.js" %}"></script>
	<script src="{% static "js/angular-route.min.js" %}"></script>
	<script src="{% static "js/app.js" %}"></script>
	<script src="{% static "js/services.js" %}"></script>
	<script src="{% static "js/controller.js" %}"></script>
	<script src="{% static "js/toastr.min.js" %}"></script>
</body>
</html>